* {
  box-sizing: border-box;
}

html {
  color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 10px #000;
}

body {
  background-image: url("../images/backgroundTwo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
  padding: 20px 0 10px 0;
  text-align: center;
}

.fancy-header {
  font-family: 'Russo One', sans-serif;
  font-size: 2.7em;
  font-weight: bold;
  background: url('../images/spiral.gif');
  background-repeat: repeat-x;
  background-position: 0 0;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-shadow: 0 0 20px #ffffffbd;
}

h2 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.2em;
  font-style: italic;
  color: #00e200;
}

.main-content {
  flex: 1 0 auto;
  margin: auto;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

section {
  border: 2px solid #12406b;
  background-color: #353535d0;
  border-radius: 20px;
  margin: 30px auto;
  width: 95%;
}

section h3 {
  font-size: 1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 15px;
  background: linear-gradient(to right, #000, 40%, #0d3152);
  border-bottom: 2px solid #12406b;
}

#reset {
  color: #ff0000;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8em;
}

.table-pad {
  padding: 15px 15px 30px 15px;
}

table {
  table-layout: fixed;
  width: 100%;
}

table p {
  margin: 10px;
  font-size: 14px;
}

th {
  font-size: .9em;
  font-weight: bold;
  text-align: left;
  padding: 5px 15px 15px 0;
  text-overflow: ellipsis;
}

th:first-child, td:first-child {
  width: 25px;
}

th, td {
  vertical-align: middle;
}



tr {
  border-bottom: 1px solid #cccccc3d;
}

tbody tr:last-child {
  border: none;
}

.tbody-row td {
  padding: 10px 0;
  text-overflow: ellipsis;
}

#vessel-form h3, #vessel-form label, #vessel-form input {
  display: block;
}

#vessel-form form {
  padding: 15px;
}

#vessel-form label {
  padding: 15px 0 5px 0;
  font-size: .8em;
  font-weight: bold;
}

#vessel-form label:first-child {
  padding-top: 0;
}

#vessel-form-btn {
  margin-top: 15px;
}

.btn {
  background-color: #0088c7;
  border: 2px solid #9e9e9e;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 6px;
}

.btn:hover {
  background-image: url("../images/btn-background.jpg");
  border: 2px solid #000;
  color: #d1d1d1;
}

.btn:active {
  background: #ff0000;
  border: 2px solid #ccc;
  color: #ccc;
}

.btn:focus {
  outline: none;
}

#reset-btn {
  margin-right: 10px;
}

.input-field {
  background-color: #acacacbb;
  border: 2px solid #12406b;
  min-width: 100%;
  max-width: 100%;
  padding: 5px;
}

@media (min-width: 450px) {
  .fancy-header {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.6em;
  }
}

@media (min-width: 625px) {
  .fancy-header {
    font-size: 5.3em;
  }
  h2 {
    font-size: 2.7em;
  }
  section h3 {
    font-size: 1.25em;
    padding: 25px;
  }
  .btn {
    font-size: 1em;
  }
  #vessel-form label {
    font-size: 1.15em;
  }
  th {
    font-size: 1.1em;
  }
  table p {
    font-size: 1em;
  }
}

@media (min-width: 1100px) {
  .fancy-header {
    display: inline-block;
  }
  .main-content {
    width: 1000px;
  }
}

