* {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

.main-content {
  flex: 1 0 auto;
  margin: auto;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3.5em;
  font-style: italic;
}

section {
  border: 2px solid #12406b;
  margin: 30px;
  width: 1100px;
}

section h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
  background: linear-gradient(to right, #000, 40%, #0d3152);
  border-bottom: 2px solid #12406b;
}

.table-pad {
  padding: 15px 15px 30px 15px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  font-size: 1.15em;
  font-weight: bold;
  text-align: left;
  padding: 5px 15px 15px 0;
  text-overflow: ellipsis;
}

th:first-child,
td:first-child {
  width: 220px;
}

tr {
  border-bottom: 1px solid rgba(77, 77, 77, 0.712);
}

tbody tr:last-child {
  border: none;
}

.tbody-row td {
  padding: 10px 15px 10px 10px;
  text-overflow: ellipsis;
}

#vessel-form h3,
#vessel-form label,
#vessel-form input {
  display: block;
}

#vessel-form form {
  padding: 15px;
}

#vessel-form label {
  padding: 15px 0 5px 0;
  font-size: 1.15em;
  font-weight: bold;
}

#vessel-form label:first-child {
  padding-top: 0;
}

#vessel-form-btn {
  margin-top: 15px;
  padding: 5px 10px;
}

.input-field {
  min-width: 100%;
  max-width: 100%;
}